fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
alembic
python-dotenv
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
requests
pytest
python-json-logger
# pip install psycopg2-binary